#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  padding-top: 50px;
  width: 200px; /* Ajusta el tamaño según tu necesidad */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border-radius: 8px; /* Añade bordes redondeados a la imagen */
}
